<div class="header">
  <h1>Analog Time and Digial Time syncs</h1>
  <h5>Click on clock and customize your time</h5>
</div>

<div class="container">
  <div class="col-sm-6 text-center">
    <h2>Analog Clock</h2>
    <div class="clock">
      <div class="outer-clock-face" (click)="picker.open(picker)">
        <div class="marking marking-one"></div>
        <div class="marking marking-two"></div>
        <div class="marking marking-three"></div>
        <div class="marking marking-four"></div>
        <div class="inner-clock-face">
          <div class="hour  hour-hand" [style.--rotate.deg]="(hourRotation | async)"></div>
          <div class="minute  min-hand" [style.--rotate.deg]="(minuteRotation | async)"></div>
          <div class="second  second-hand" [style.--rotate.deg]="(secondRotation | async)"></div>
        </div>
      </div>
    </div>
  </div>
  <div  class="col-sm-6 text-center">
    <h2>Digital Clock</h2>
    <p (click)="changeDigitalTime()">{{ time$ | async | date:'hh:mm:ss'}}</p>
    <input [ngxTimepicker]="picker" [(ngModel)]="timepicker" (ngModelChange)="selectedTimeChanged($event)" style="display: none;">
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>

  
</div>

<button class="btn btn-primary" (click)="resetClock()">Reset Time <mat-icon aria-hidden="false" aria-label="Example refresh icon">refresh</mat-icon></button>